{% load static %}
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="icon" href="{% static "/favicon.ico" %}">
    <title>lpr_frontend</title>
    <link href="{% static "/css/app.1424d902.css" %}" rel="preload" as="style">
    <link href="{% static "/js/app.74ce8e87.js" %}" rel="preload" as="script">
    <link href="{% static "/js/chunk-vendors.587e4ce9.js" %}" rel="preload" as="script">
    <link href="{% static "/css/app.1424d902.css" %}" rel="stylesheet">
</head>
<body>
    <noscript><strong>We're sorry but lpr_frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
    <div id="app"></div>
    <script src="{% static "/js/chunk-vendors.587e4ce9.js" %}"></script>
    <script src="{% static "/js/app.74ce8e87.js" %}"></script>
</body>
</html>